<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>WELCOME {{user.name}}</h3>

  <p text-center>
    {{user.email}}
  </p>
  <p *ngIf="accessToken">
    {{accessToken}}
  </p>
  <button ion-button secondary (click)="login()" style="display: block; margin: 10px auto" *ngIf="!user.logedIn">Login</button>
  <button ion-button secondary (click)="logout()" style="display: block; margin: 10px auto" *ngIf="user.logedIn">Logout</button>
</ion-content>
